@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

body {
	margin: 0;
}

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
}

a:hover,
a:active {
	outline: 0;
}

/* ALEXIS */

/* HEADER */

/* FIN HEADER */

/* HEADER DE LA PAGE DE CONNEXION */

#headerIndexBody {
	display: flex;
	flex-direction: column;
}

#headerIndex {
	border-bottom-color: black;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	width: 95%;
	margin: auto;
}

#headerIndex svg {
	width: 125px;
	margin: 1.5%;
}

/* FIN HEADER DE LA PAGE DE CONNEXION */

/* PAGE DE CONNEXION */

#index {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 50%;
	margin: auto;
/*	border: 2px solid black;*/
	padding: 6% 0 0 0;
}

#index #messageConnexion svg {
	width: 80px;
	margin: 2%;
	margin-top: -6%;
}

#index #messageConnexion div {
}

#index #messageConnexion #firstP{
	font-weight: 700;
	font-size: 28px;
	margin-bottom: -1%;
} 

#index #messageConnexion #secondP, #index section #messageConnexion #errorP{
	font-weight: 300;
	font-size: 22px;
	margin-bottom: 6%;
}

#index form {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: auto;
}

#index form input {
	margin: auto;
	width: 100%;
	padding: 2%;
}

#index form input:nth-child(2){
	margin: 7% 0 0 0;
}

.button-style-submit {
	width: 240px;
	margin: 2vw auto;
}

#button-style-submit-index {
    width: 40%;
}

>>>>>>> origin/petiteBranche
.button-style-submit svg {
	width: 40px;
	height: 40px;
}

div.input-container-icon-index {
	margin-top: -2vw;
}

/* FIN PAGE DE CONNEXION */

/* PAGE DE SUPPRESION */

#deleteUserForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6vh 40vh 0 40vh;
}

#deleteUserForm select {
	color: #757575;
	border: 1px solid #95989A;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 1vh 2vh 1vh 2vh;
    margin: 5vh 0 10vh 0;
	width: 100%;
}

/* MODIFICATION DE MOT DE PASSE */

#changePasswordFrom {
	width: 50%;
	margin: 0 auto;
}

#changePasswordFrom select {
	color: #757575;
	border: 1px solid #95989A;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 1vh 2vh 1vh 2vh;
    margin: 5vh 0 3.5vh 0;
	width: 100%;
}

#changePasswordFrom #inputsChangePassword {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
    margin-bottom: 8vh;
}

#changePasswordFrom input[type=password]{
    color: black;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 1vh 2vh 1vh 2vh;
    width: 100%;
}

.button-style-submit-password {
	width: 25%;
	margin: 2vw auto;
}

#changePasswordFrom input[type=submit] {
	font-weight: 700;
}

/* PAGE PAS DE SUIVI DE MAINTENANCE */

#suiviDeMaintenanceContainer {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 12% auto 0 auto;
	align-items: center;
}

#suiviDeMaintenanceContainer svg {
	width: 200px;
	height: 165px;
}

#suiviDeMaintenanceContainer p {
	font-size: 28px;
	font-weight: 700;
	text-align: center;
	margin-top: 5%;
}

/* FIN PAGE PAS DE SUIVI DE MAINTENANCE */

/* HUB EXTRANET */

/* Partie titre */

#title-page-container-hub {
    padding-top: 2vh;
}

.hubExtranetTitle {
    padding-bottom: 0;
}

.hubExtranetTitle svg{
	width: 120px;
}

.hubExtranetTitle h1 {
	font-weight: 300;
	font-size: 48px;
}

/* Les actus d'Aro */

#actusAro {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 9vh;
    background-color: #efefef;
}

#actusAro > p {
	font-size: 18px;
	color: #95989A;
	font-style: italic;
}

#actusAro svg {
	margin: 1% 1% 1% 10%;
	fill: #95989A;
}

/* Les menus vers les différentes parties de l'extranet */

#menusHubExtranet {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	margin: 2% 0 0 5%;
}

#menusHubExtranet p {
	font-size: 18px;
	font-weight: 300;
	color: #95989A;
	text-align: center;
    width: 12vh;
    text-align: center;
}

#menusHubExtranet #top, #menusHubExtranet #bot {
	display: flex;
	flex-direction: row;
	width: 90%;
	justify-content: space-between;
    margin-top: 4vh;
}

#menusHubExtranet #top a, #menusHubExtranet #bot a {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 45%;
}


#menusHubExtranet svg {
	fill: #95989A;
	width: 150px;
}



/* Attribus généraux et le svg du monde sur le coté */

#hubExtranetBody {
	padding: 0vh 12vh 3vh 12vh; 
}

#hubExtranetBody #svgMonde svg {
    fill: #efefef;
    width: 600px;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    right: -300px;
}
#Page-Hub-Extranet {
    overflow: hidden;
    position: relative;
}




#contrats p, #factures p, #maintenance p, #emailing p {
    transition-duration: 0.7s;
}

#contrats svg, #factures svg, #maintenance svg, #emailing svg {
    transition-duration: 0.7s;
}

#contrats:hover svg, #factures:hover svg, #maintenance:hover svg, #emailing:hover svg {
    fill: black;
    transform: scale(0.9);
}

#contrats:hover p, #factures:hover p, #maintenance:hover p, #emailing:hover p {
    color: black;
    transform: translateY(-10px);
}

/* FIN HUB EXTRANET */

/* FIN ALEXIS */


/* NATHAN */

/* FIN NATHAN */