@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

body {
	margin: 0;
}

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
}

a:hover,
a:active {
	outline: 0;
}

/* ALEXIS */

/* HEADER */


header svg {
	width: 64px;
	height: 64px;
}

/* FIN HEADER */

/* HEADER DE LA PAGE DE CONNEXION */

/* NATHAN */


/* ================================= H E A D E R =================================*/
#sidebar-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    top: 0;
    left: 0;
    height: 100vh;
    width: 45vh;
}

#sidebar-logo {
    fill: white;
    height: 4.5%;
    width: auto;
    margin-top: 18%;
}

.sidebar-menu {
    margin-top: 18%;
    padding-left: 0;
}

.sidebar-menu li {
    position: relative;
}

.sidebar-menu li a {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    display: block;
    padding: 1.5vh 0 1.5vh 8vh;
    margin-bottom: 1vh;
}

.sidebar-children-center {
    padding-top: 2.5vh;
}

.sidebar-children-center li {
    padding-bottom: 1vh;
    padding-top: 1vh;
    padding-left: 2vh;
}

.sidebar-children svg{
    fill: white;
    position: absolute;
    margin-left: 2vh;
    margin-top: -1vh;
    width: 40px;
    height: auto;
}

.sidebar-children a svg {
  transition: all .5s;
}

li.active.sidebar-children a svg {
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.sidebar-menu .sidebar-children > ul {
    display: none;
}

#sidebar-block-profile {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 22%;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    padding-bottom: 5vh;
}

#sidebar-profile-svg-user {
    width: 62px;
    height: 62px;
    margin-right: 2vh;
}

#sidebar-profile-text {
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0;
    margin-bottom: 1vh;
}

#sidebar-user-text {
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0;
}

#sidebar-logout-svg {
    width: 35px;
    height: 35px;
    margin-left: 6vh;
}

.sidebar-parent-hover a {
    color: white;
    transition-duration: 0.7s;
}

.sidebar-parent-hover a:hover {
    background-color: white;
    color: black;
}

.sidebar-parent-hover a:hover svg {
    fill: black;
}

.sidebar-children-center {
    padding-top: 1.5vh;
    padding-left: 10vh;
}

ul.sidebar-children-center a {
    display: none; 
}

.sidebar-children-center li a{
    padding: 0;
    margin: 0;
    color: white;
    background-color: transparent;
    display: block;
}

.sidebar-children-center li a:hover {
    color: #999999;
    background-color: transparent;
}

/* ============================== BASE PAGE GLOBALE ==============================*/

body {
    display: flex;
    flex-direction: row;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* ============================= HAUT DE PAGE TITLE ==============================*/

.title-page-container {
    padding: 5vh 12vh 3vh 12vh;
}

.title-page-block-icon-title svg {
    width: 55px;
    height: 55px;
    fill: black;
}

.title-page-block-icon-title h1 {
    color: black;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-left: 2vh;
}

.title-page-block-icon-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 2.5vh;
}

.title-page-block-line {
    width: 100%;
    height: 3px;
    background-color: black;
}

/* ============================== AJOUT UTILISATEUR ==============================*/

#addUserForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6vh 40vh 0 40vh;
}

#addUserForm input{
    color: black;
    border: 1px solid #95989A;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 1vh 2vh 1vh 2vh;
    width: 100%;
    margin-bottom: 3.5vh;
}

#addUser-input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#addUser-input-row input {
    width: 48%;
}

#addUserForm select {
    color: #757575;
    border: 1px solid #95989A;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 1vh 2vh 1vh 2vh;
    width: 48%;
    align-self: flex-start;
    margin-bottom: 10vh;
}





.button-style-submit {
    display: flex;
    flex-direction: row;
    border: 3px solid black;
}

.button-style-submit-svg-block {
    border-left: 3px solid black;
    width: 40px;
    height: 40px;
}

.button-style-submit-svg-block svg {
    fill: black;
    width: 40px;
    height: 40px;
    padding-right: 2px;
}

input#addUser-button-submit {
    width: 150px;
    height: 40px;
    text-decoration: none;
    border: none;
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0;
    transition-duration: 0.7s;
    cursor: pointer;
}

input#addUser-button-submit:hover {
    background-color: black;
    color: white;
}





/* FIN NATHAN */