@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	margin: 0;
}

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

a {
	background-color: transparent;
	color: #12acf0;
	text-decoration: none;
}

a:hover,
a:active {
	outline: 0;
}

/* ALEXIS */

/* HEADER */

header {
	display: flex;
	align-items: center;
	padding: 1% 3%;
}

header svg {
	width: 64px;
	height: 64px;
}

/* FIN HEADER */

/* PAGE DE CONNEXION */

#index {
	display: flex;
	justify-content: center;
}

#index section {
	display: flex;
	flex-direction: column;
	padding: 1% 2%;
	margin-top: 5vw;
	width: 25%;
}

#index section #messageConnexion {
	margin: 5% 0;
}

#index section #messageConnexion h2 {
	margin: 2% 0;
	text-align: center;
	padding: 1% 0;
}

#index section #messageConnexion p {
	text-align: center;
	color: deepskyblue;
}

#index section > h2:nth-child(2){
	margin-bottom: 4%;
}

#index form {
	display: flex;
	flex-direction: column;
	border-radius: 2px;
	box-shadow: 0px 0px 20px 3px deepskyblue;
	padding: 4%;
}

#index form input[type=submit] {
	width: 40%;
	align-self: center;
}

#index form div{
	display: flex;
	justify-content: space-between;
}

#index form div:nth-child(2) {
	padding: 4% 0;
}

/* FIN PAGE DE CONNEXION */

/* PAGE DE D'AJOUT, SUPPRESION, MODIF UTILISATEUR */

#modifsUser {
	display: flex;
	justify-content: space-around;
}

#modifsUser #addUserForm {
	display: flex;
	flex-direction: column;
}

/* FIN PAGE DE D'AJOUT, SUPPRESION, MODIF UTILISATEUR */

/* FIN ALEXIS */

/* NATHAN */

/* FIN NATHAN */