@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

a:hover,
a:active {
    outline: 0;
}


/* ALEXIS */


/* HEADER */

header svg {
    width: 64px;
    height: 64px;
}


/* FIN HEADER */


/* HEADER DE LA PAGE DE CONNEXION */


/* NATHAN */


/* ================================= H E A D E R =================================*/

#sidebar-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    top: 0;
    left: 0;
    height: 100vh;
    width: 45vh;
}

#sidebar-logo {
    fill: white;
    height: 4.5%;
    width: auto;
    margin-top: 18%;
}

.sidebar-menu {
    margin-top: 18%;
    padding-left: 0;
}

.sidebar-menu li {
    position: relative;
}

.sidebar-menu li a {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    display: block;
    padding: 1.5vh 0 1.5vh 8vh;
    margin-bottom: 1vh;
}

.sidebar-children-center {
    padding-top: 2.5vh;
}

.sidebar-children-center li {
    padding-bottom: 1vh;
    padding-top: 1vh;
    padding-left: 2vh;
}

.sidebar-children svg {
    fill: white;
    position: absolute;
    margin-left: 2vh;
    margin-top: -1vh;
    width: 40px;
    height: auto;
}

.sidebar-children a svg {
    transition: all .5s;
}

li.active.sidebar-children a svg {
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sidebar-menu .sidebar-children > ul {
    display: none;
}

#sidebar-block-profile {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 22%;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    padding-bottom: 5vh;
}

#sidebar-profile-svg-user {
    width: 62px;
    height: 62px;
    margin-right: 2vh;
}

#sidebar-profile-text {
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0;
    margin-bottom: 1vh;
}

#sidebar-user-text {
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0;
}

#sidebar-logout-svg {
    width: 35px;
    height: 35px;
    margin-left: 6vh;
}

.sidebar-parent-hover a {
    color: white;
    transition-duration: 0.7s;
}

.sidebar-parent-hover a:hover {
    background-color: white;
    color: black;
}

.sidebar-parent-hover a:hover svg {
    fill: black;
}

.sidebar-children-center {
    padding-top: 1.5vh;
    padding-left: 10vh;
}

ul.sidebar-children-center a {
    display: none;
}

.sidebar-children-center li a {
    padding: 0;
    margin: 0;
    color: white;
    background-color: transparent;
    display: block;
}

.sidebar-children-center li a:hover {
    color: #999999;
    background-color: transparent;
}


/* ============================== BASE PAGE GLOBALE ==============================*/

body {
    display: flex;
    flex-direction: row;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
}


/* ============================= HAUT DE PAGE TITLE ==============================*/

.title-page-container {
    padding: 5vh 12vh 3vh 12vh;
}

.title-page-block-icon-title svg {
    width: 55px;
    height: 55px;
    fill: black;
}

.title-page-block-icon-title h1 {
    color: black;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-left: 2vh;
}

.title-page-block-icon-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 2.5vh;
}

.title-page-block-line {
    width: 100%;
    height: 3px;
    background-color: black;
}


/* ============================== AJOUT UTILISATEUR ==============================*/

#addUserForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6vh 40vh 0 40vh;
}

#addUserForm input {
    color: black;
    border: 1px solid #95989A;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 1vh 5vh 1vh 2vh;
    width: 100%;
}

#addUser-input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3.5vh;
}

#addUser-input-row input {
    width: 48%;
}

#addUserForm select {
    color: #757575;
    border: 1px solid #95989A;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 1vh 2vh 1vh 2vh;
    width: 48%;
    align-self: flex-start;
    margin-bottom: 10vh;
}


/* ============================== ICON IN INPUT ==============================*/

.input-container-icon {
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: 3.5vh;
    width: 100%;
}

.input-container-icon input {
    margin: 0;
    padding-left: 30px;
}

.input-container-icon-svg {
    position: absolute;
    bottom: 9px;
    right: 15px;
    width: 20px;
    height: 20px;
    fill: #95989A;
}


/* ============================== BOUTON STYLEE ==============================*/

.button-style-submit {
    display: flex;
    flex-direction: row;
    border: 3px solid black;
}

.button-style-submit-svg-block {
    border-left: 3px solid black;
    width: 40px;
    height: 40px;
    transition-duration: 0.7s;
}

.button-style-submit-svg-block svg {
    fill: black;
    width: 40px;
    height: 40px;
    padding-right: 2px;
}

input#addUser-button-submit {
    width: 150px;
    height: 40px;
    text-decoration: none;
    border: none;
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0;
    transition-duration: 0.7s;
    cursor: pointer;
    padding: 1vh;
}

input#addUser-button-submit:hover {
    background-color: black;
    color: white;
}


/* ============================== PAGE MAINTENANCE ==============================*/

.maintenance-page-container {
    margin: 5vh 12vh 0 12vh;
}


/* ============================== PAGE TABLEAU BOUTTON ==============================*/

.page-tabs-head-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8vh;
}


/* BAR DE RECHERCHE */

.searchBar-container {
    display: flex;
    flex-direction: row;
    width: 28%;
}

.searchBar-input {
    color: black;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 0.8vh 5vh 0.8vh 2vh;
    width: 100%;
    font-size: 16px;
}

.searchBar-block-icon {
    background-color: black;
    height: auto;
    width: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar-block-icon svg {
    fill: white;
    height: 20px;
    width: 20px;
}


/* CONTENAIRE DES DEUX BOUTONS NOIRS */

.tabs-head-button-addcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* BOUTON AJOUTER UNE LIGNE AU TABLEAU */

.addLine-container {
    display: flex;
    flex-direction: row;
    width: auto;
}

.addLine-block-icon {
    background-color: black;
    width: 4.5vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
}

.addLine-block-icon svg {
    fill: white;
    height: 20px;
    width: 20px;
}

.addLine-container button {
    color: white;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 1vh 3vh 1vh 3vh;
    margin-left: 0.4vh;
    width: 100%;
    border: none;
    transition-duration: 0.5s;
    font-size: 16px;
    cursor: pointer;
}

.addLine-container:hover .addLine-block-icon {
    background-color: #444444;
}

.addLine-container:hover button {
    background-color: #444444;
}


/* BOUTON ENREGISTRER LES MODIFICATIONS */

.modifLine-container {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-left: 5vh;  
}

.modifLine-block-icon {
    background-color: black;
    width: 5.5vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
}

.modifLine-block-icon svg {
    fill: white;
    height: 18px;
    width: 18px;
}

.modifLine-container input {
    color: white;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 1vh 3vh 1vh 3vh;
    margin-left: 0.4vh;
    width: 100%;
    border: none;
    transition-duration: 0.5s;
    font-size: 16px;
    cursor: pointer;
}

.modifLine-container:hover .modifLine-block-icon {
    background-color: #444444;
}

.modifLine-container:hover input {
    background-color: #444444;
}


/* ============================== TABLEAU ==============================*/


.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.glyphicon-remove:before {
    display: block;
    content: ' ';
    background-image: url(../icon/cross-delete-line.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
}

.hide {
    display: none!important;
}

table.table {
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;
}

table.table tbody tr td input{
    margin-right: 1.5vh;
    margin-left: 2vh;
    border: none;
    font-size: 16px;
    font-weight: 300;
}

table.table tbody tr {
    height: 5vh;
    border-bottom: 1px solid black;
}

.table-name-column {
    background-color: black;
    color: white;
    height: 5vh;
}

.table-name-column th {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.form-table {
    max-height: 55vh;
    overflow-y: scroll;
}

.table-name-column th {
    cursor: pointer;
}

.table-name-column th svg{
    fill: white;
    height: 20px;
    width: 20px;
    margin-left: 0.5vh;
}

.table-name-column-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* FIN NATHAN */