@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

body {
	margin: 0;
}

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
}

a:hover,
a:active {
	outline: 0;
}

/* ALEXIS */

/* HEADER */

/* FIN HEADER */

/* HEADER DE LA PAGE DE CONNEXION */

#headerIndex {
	border-bottom-color: black;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	width: 95%;
	margin: auto;
}

#headerIndex svg {
	width: 125px;
	margin: 1.5%;
}

/* FIN HEADER DE LA PAGE DE CONNEXION */

/* PAGE DE CONNEXION */

#index section {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 50%;
	margin: auto;
/*	border: 2px solid black;*/
	padding: 6% 0 0 0;
}

#index section svg:first-child {
	width: 80px;
	margin: 2%;
	margin-top: -6%;
}

#index section #messageConnexion div {
}

#index section #messageConnexion #firstP{
	font-weight: 700;
	font-size: 28px;
	margin-bottom: -1%;
} 

#index section #messageConnexion #secondP, #index section #messageConnexion #errorP{
	font-weight: 300;
	font-size: 22px;
	margin-bottom: 6%;
}

#index section form {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: auto;
}

#index section form input {
	margin: auto;
	width: 100%;
	padding: 2%;
}

#index section form input:nth-child(2){
	margin: 7% 0 0 0;
}

#index section form input[type=submit] {
	border: none;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/* FIN PAGE DE CONNEXION */

/* PAGE DE D'AJOUT, SUPPRESION, MODIF UTILISATEUR */

#modifsUser {
	display: flex;
	justify-content: space-around;
}

#modifsUser #addUserForm {
	display: flex;
	flex-direction: column;
}

/* FIN PAGE DE D'AJOUT, SUPPRESION, MODIF UTILISATEUR */

/* FIN ALEXIS */


/* NATHAN */

/* FIN NATHAN */